parser:
  babel-eslint

plugins:
  - babel
  - flowtype
  - jest
  - import

extends:
  - eslint:recommended
  - plugin:flowtype/recommended
  - plugin:jest/recommended
  - plugin:import/recommended

env:
  browser: true
  es6: true
  jest: true
  jest/globals: true

globals:
  process: true

# http://eslint.org/docs/rules/
rules:
  #  Jest
  # --------------------------------------------------
  jest/no-disabled-tests: 0
  jest/prefer-to-have-length: 0
  #  Flow
  # --------------------------------------------------
  flowtype/define-flow-type: 1
  flowtype/use-flow-type: 1
  #  Babel
  # --------------------------------------------------
  babel/new-cap: 0
  babel/object-curly-spacing: 0
  babel/no-invalid-this: 1
  babel/semi: 1
  #  JS
  # --------------------------------------------------
  # - import
  import/order: ["warn", {
    "groups": ["builtin", "external", "parent", "internal", "sibling", "index"],
    "newlines-between": "always",
  }]
  # - etc
  no-unused-vars: [1, { "argsIgnorePattern": "^_" }]
